.main-new-comp {
  //   /* margin: 0 auto;
  //   width: 60%; */
  //   height: 70vh;
  //   background-color: #FFFFFF;
  position: relative;
}

.main-new-comp__title {
  margin-top: 0;
}
.main-new-comp__input {
  // margin: 0 2em;
  height: 3em;
  width: -webkit-fill-available;
  padding-left: 1em;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.main-new-comp__input::placeholder {
  color: #b9b9b9;
}
.main-new-comp__input:focus {
  outline-color: #fae29f;
}

.main-new-comp__list {
  padding-left: 0;
  margin-top: 0;
  border-top: none;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0px 0px 3px 3px;
  list-style: none;
}
.list__item {
  padding-left: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.list__item:hover {
  background: #f8f8f8;
}
.list-item__h6 {
  display: inline;
}

.info-wrap {
  position: absolute;
  top: 24%;
  background-color: #ffffff;
}

.save-btn {
  padding: 1em 2em;
  background: #f50634;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}
