.nav {
  display: flex;

  &__item {
    margin: 0;
    padding: 0.7em 2em;
    font-family: Verdana;
    color: #b9b9b9;
  }
}
.nav__item_active {
  background-color: #ffffff;
  border-top: 2px solid #f50634;
  color: #2b2829;
}

.nav__count-saved {
  color: #505050;
}

.nav a {
  text-decoration: none;
}
